.App {
  text-align: center;
}

.navBanner {
  background: lightslategray;
  padding: 5px;
}

.navLink {
  color: blue;
  margin: 5px;
  text-decoration: none;
}

.navLink:hover {
  color: goldenrod;
}

.navBanner .active {
  color: blueviolet;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}