.App {
  text-align: center;
}

nav {
  height: 10vh;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  margin: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.navBar:hover {
  color: green;
}

nav .active {
  color: blueviolet;
}



@media screen and (min-width: 600px) {
  section {
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 992px) {
  section {
    grid-template-columns: auto auto auto;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

